<mat-toolbar>
  <button mat-icon-button class="example-icon" (click)="toggleSidenav()" *ngIf="user">
    <mat-icon>menu</mat-icon>
  </button>
  Time Tracker App
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>

    <button mat-button class="menu-button" routerLink="/clockin">
      <mat-icon>work</mat-icon>
      <span>Fichaje</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/users">
      <mat-icon>people</mat-icon>
      <span>Usuarios</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/events">
      <mat-icon>calendar_today</mat-icon>
      <span>Calendario</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/records">
      <mat-icon>calendar_view_day</mat-icon>
      <span>Registros</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/schedules">
      <mat-icon>schedule</mat-icon>
      <span>Horarios</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/changepassword">
      <mat-icon>cached</mat-icon>
      <span>Cambiar contraseña</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Salir</span>
    </button>

  </mat-sidenav>

  <mat-sidenav-content class="bg-color">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
