mat-toolbar {
  background-color: #798777;
  color: black;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

mat-sidenav {
  width: 230px;
  border-right: none;
  background-color: #A2B29F;
  padding: 16px;
  text-align: left;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.1rem;
}

mat-divider {
  margin: 16px 0;
  background-color: #798777;
}

.bg-color {
  background-color: #F8EDE3;
}
