<div class="container">

  <h2 class="title">Cambiar contraseña</h2>

  <form [formGroup]="form" *ngIf="form">

    <mat-form-field>
      <mat-label>Contraseña anterior</mat-label>
      <input matInput formControlName="oldPassword" type="password" placeholder="Ingrese su contraseña">
      <mat-error *ngIf="form.get('oldPassword')?.hasError('required')">La contraseña es obligatoria</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Ingrese una nueva contraseña">
      <mat-error *ngIf="form.get('password')?.hasError('required')">La contraseña es obligatoria</mat-error>
    </mat-form-field>

    <div class="container-buttons">
      <button mat-raised-button [disabled]="form.invalid" class="submitButton" [ngClass]="{'colorWhite': form.valid}" (click)="update()">Guardar</button>
    </div>

    <div *ngIf="errorMessage" class="message-error">{{ errorMessage }}</div>
  </form>

</div>
