<div class="container">

  <div class="header">

    <div class="date">
      {{ currentTime | date:'dd/MM/yyyy' }}
    </div>

    <div class="time">
      {{ currentTime | date:'HH:mm:ss' }}
    </div>

  </div>

  <div class="container-clocks">
    <button mat-raised-button class="clockin-button" (click)="clockIn()" [disabled]="!clockInButtonEnabled">Fichar</button>
    <button mat-raised-button class="clockout-button" (click)="clockOut()" [disabled]="!clockOutButtonEnabled">Desfichar</button>
  </div>

  <div class="container-breaks">
    <button mat-raised-button class="startbreak-button" (click)="startBreakTime()" [disabled]="!startBreakTimeButtonEnabled">Empezar pausa</button>
    <button mat-raised-button class="stopbreak-button" (click)="stopBreakTime()" [disabled]="!endBreakTimeButtonEnabled">Parar pausa</button>
  </div>

  <div class="container-timeBreak">
    <p class="timeBreak">Tiempo de pausa registrado hoy: {{ totalBreakTimeMinutes }} minutos</p>
    <p class="message">{{ message }}</p>
  </div>

</div>
