<div class="container">
  <form [formGroup]="form" *ngIf="form" (ngSubmit)="login()">

    <mat-form-field>
      <mat-label>Correo electrónico</mat-label>
      <input matInput formControlName="email" placeholder="Ingrese su correo electrónico">
      <mat-error *ngIf="form.get('email')?.hasError('required')">El correo electrónico es obligatorio</mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('email')">Ingrese un correo electrónico válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Ingrese su contraseña">
      <mat-error *ngIf="form.get('password')?.hasError('required')">La contraseña es obligatoria</mat-error>
    </mat-form-field>

    <button mat-raised-button [disabled]="form.invalid" class="submitButton" [ngClass]="{'colorWhite': form.valid}">Login</button>

    <div *ngIf="errorMessage" class="message-error">{{ errorMessage }}</div>
  </form>
</div>
