<div class="container">

  <div class="header">
    <h2 class="title">Usuarios</h2>

    <button mat-raised-button class="createUserButton" routerLink="/users/create">Crear nuevo usuario</button>
  </div>

  <mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.name + " " + user.lastname }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef>Rol</mat-header-cell>
      <mat-cell *matCellDef="let user">
        {{ user.isSuperAdmin ? 'Super Admin' : user.isAdmin ? 'Admin' : 'Empleado' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <button mat-icon-button color="primary" aria-label="Edit" [routerLink]="['/users', user.id, 'edit']">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let user; columns: displayedColumns"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>

</div>
